{
  "recaptcha.secret.key.v2": "<REPLACE_ME>",
  "recaptcha.secret.key.v3": "<REPLACE_ME>",
  "recaptcha.secret.key.threshold": "<REPLACE_ME>",
  "recaptcha.verify.url": "<REPLACE_ME>",
  "recaptcha.v3.cache.form.seconds": "<REPLACE_ME>",
  "recaptcha.v3.cache.like.seconds": "<REPLACE_ME>",
  "ip.rate-limit.threshold": "<REPLACE_ME>",
  "ip.rate-limit.window-seconds": "<REPLACE_ME>",
  "jwt.secret": "<REPLACE_ME>",
  "jwt.expirationMs": "<REPLACE_ME>",
  "app.cookie.domain": "<REPLACE_ME>",
  "app.cookie.guest-name": "<REPLACE_ME>",
  "app.cookie.user-name": "<REPLACE_ME>",
  "encryption.keys.current-key-id": "<REPLACE_ME>",
  "encryption.keys.secrets.2025.06": "<REPLACE_ME>",
  "encryption.keys.secrets.2024.01": "<REPLACE_ME>",
  "encryption.algorithm": "<REPLACE_ME>",
  "encryption.hmac-secret": "<REPLACE_ME>"
}
